# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# EnergyPlus Outputs
out/
out_verify/
*.eso
*.rdd
*.mdd
*.eplusout
*.htm
*.csv
*.xml
*.audit
*.bnd
*.dxf

# Databases & Dynamic Benchmarks
*.sqlite
*.duckdb
data/*.sqlite
data/*.duckdb
data/bench_*.sqlite

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
*.zip
*.exe
*.mp4

!docs/demo/web_dashboard_demonstration.mp4
!docs/demo/terminal_demonstration_part1.bin
!docs/demo/terminal_demonstration_part2.bin
!pdf_deliverables/*.pdf
!Entire_Codebase_and_Deliverables.pdf

